<head>
    <style>
        .grids {
            height: 60px !important;
        }

        .noPadding {
            padding: 0;
        }

        .mdl-cell--2-col {
            border: solid black !important;
        }

        .upSide {

            height:550px !important;

        }

        .mdl-grid {
            height: fit-content !important;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(document).ready(() => {

            const height = window.innerHeight - 80;
            document.getElementById('cont').style.height = height + 'px';

        });

        var datos = [['Fecha', 'Modulo 1', 'Modulo 2', 'Modulo 3', 'Modulo 4', 'Modulo 5', 'Modulo 6', 'Modulo 7', 'Modulo 8', 'Modulo 9', 'Modulo 10']];


    </script>
    {{#each meds}}
    <script>
        datos[(parseInt('{{@index}}')) + 1] = ['{{this.ID_MEDICION}}', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        datos[(parseInt('{{@index}}')) + 1][parseInt('{{this.ELEMENTOS_MEDICION_ID}}')] = parseFloat('{{this.CANTIDAD_PARTICULAS}}');
        console.log('{{this.ELEMENTOS_MEDICION_ID}}');
    </script>
    {{/each}}

    <script>

        google.charts.load('current', { 'packages': ['corechart'] });

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // Create the data table.
            var data = google.visualization.arrayToDataTable(datos);

            // Set chart options
            var options = {
                title: 'Mediciones-Modulo-{{this.ID}}',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);

        }
    </script>

</head>

<body>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            <div class=" mdl-shadow--2dp mdl-color--white upSide mdl-cell mdl-cell--7-col result">

                <div id="chart_div" style="width: 100%; height: 500px"></div>



            </div>
            <div class="demo-graphs mdl-shadow--2dp upSide mdl-color--white mdl-cell mdl-cell--5-col">
                <form method="POST" action="/dashboard">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="sample1" name="latitud">
                        <label class="mdl-textfield__label" for="sample1">latitud...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="sample2" name="longitud">
                        <label class="mdl-textfield__label" for="sample2">longitud...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                        <input class="mdl-textfield__input" type="date" id="fechaIn" name="fechaIn">
                        <label class="mdl-textfield__label" for="fechaIn">Fecha de Inicio:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                        <input class="mdl-textfield__input" type="date" id="fechaFn" name="fechaFn">
                        <label class="mdl-textfield__label" for="fechaFn">Fecha de Fin:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                        <input class="mdl-textfield__input" type="time" id="horaIn" name="HoraInicio">
                        <label class="mdl-textfield__label" for="HoraInicio">Hora de Inicio:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                        <input class="mdl-textfield__input" type="time" id="horaFi" name="HoraFin">
                        <label class="mdl-textfield__label" for="HoraFin">Hora de Fin:</label>
                    </div>
                    <br>
                    <br>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        type="submit">
                        Filtrar
                    </button>
                </form>
            </div>
        </div>
        <div class="mdl-grid" id="cont" style="width: 80%;">
            <div class=" mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col result">
                    <table style="width: 100%;" class="mdl-data-table mdl-js-data-table">
                        <col style="width:1%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:79%">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Modulo</th>
                                <th>Geoposición</th>
                                <th>PPMillon</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each meds}}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">{{info.[0].ID}}</td>
                                <td>{{info.[0].UBICACION}}</td>
                                <td>{{this.CANTIDAD_PARTICULAS}}</td>
                                <td>{{this.FECHA_HORAD}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

            </div>
        </div>
    </main>



</body>